*{
    margin: 5px;
	padding: 0;
    border: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}
/* logo */
.logo{
    width: 100px;
    cursor: pointer;
}

ul{
    list-style: none;
}

/* navigation css */
.nav{
    display: flex;
    box-shadow: 0px 4px 2px -2px black;
    cursor: pointer;
}
.fillerdiv{
    flex:1;
}
.nav-ul{
    display: flex;
    list-style: none;
    flex-direction: row;
}
.nav-ul li{
    display: inline-flex;
    margin-right: 90px;
}
.nav-ul li:hover{
    color: orangered;
}
/* modifier */
.hidden-menu:hover .dropdown-list {
    display: block;
}
.dropdown-list{
    display: none;
}

.dropdown-list:hover{
    color:orangered;
}

.about-me{
    right: 150px;
    
}
.about-me h1{
    font-size: xx-large;
    color: orangered;
}
.about-me h2{
font-size: x-large;
}
.about-me h3{
font-size: larger;
}
.about{
    display: flex;
    width: 95%;
   
}

.profile-image{
    
    height: 10rem ;
    position: relative;
    margin-left: 150px;
    
    
}

.icons{
    width: 1.5rem;
    height: 1.5rem;
    
}

.overall-details{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.border{
    display: flex;
    width: 400px;
    border: 2px solid grey;
    border-radius: .5rem;
    align-content: space-between;
    width: 75%;
    justify-content: space-between;
    padding: 0px;
}

.border div{
width: 450px;
border: 2px solid gray;
border-radius: .5rem;
margin-left: 30px;
padding:0px;
}
.overall-border{
    border: 2px solid grey;
    border-radius: .5rem;
    margin-top:3%;
    padding:0px;
}
.profile h1{
    font-size: xx-large;
}
.skill h1{
    font-size: xx-large;
}
.achievements h1{
    font-size: xx-large;
}
.education h1{
    font-size: xx-large;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }